// 功能描述: 
// 创建时间: 2023年 12月 30日

$barrageInputHeight: 34px;
$barrageInputBorderRadius: 8px;

.video-container.pause {
  .barrage-item {
    animation-play-state: paused;
  }
}

.barrage-container {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .barrage-list {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .barrage-item {
    position: absolute;
    top: var(--top);
    font-weight: var(--font-weight);
    white-space: pre;
    opacity: var(--opacity);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000;
    color: var(--color);
    animation: barrageRoll var(--duration) linear forwards;

    &.me {
      border: 1px solid #d3cfcf;
      padding: 0 5px;
    }

    &.top {
      top: 0px;
      bottom: unset;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      animation: barrageHang var(--duration);
    }

    &.bottom {
      bottom: 0px;
      top: unset;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      animation: barrageHang var(--duration);
    }
  }
}

.barrage-control {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .control-btn-icon {
    margin-right: 4px;
  }
}

.open-close-icon {
  &.close-barrage {
    .close-barrage-icon {
      display: block;
    }

    .open-barrage-icon {
      display: none;
    }
  }

  .close-barrage-icon {
    display: none;
  }

  .open-barrage-icon {
    display: block;

    svg {
      fill: #f03f3f;
    }
  }
}

.barrage-send-container {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &.exceed-limit {
    .word-number {
      color: #dc4b4b;
    }

    .send-btn {
      background-color: #b8b8b8;
    }
  }

  .barrage-input-tools {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-top-left-radius: $barrageInputBorderRadius;
    border-bottom-left-radius: $barrageInputBorderRadius;
    background-color: #8f8f8f8c;
  }

  #barrage-input {
    width: 100%;
    height: $barrageInputHeight;
    border: 0;
    padding: 0 14px;
    color: #fff;
    font-size: 14px;
    background-color: transparent;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  .send-btn {
    width: 60px;
    height: $barrageInputHeight;
    text-align: center;
    line-height: $barrageInputHeight;
    border-top-right-radius: $barrageInputBorderRadius;
    border-bottom-right-radius: $barrageInputBorderRadius;
    white-space: nowrap;
    background-color: #d55858;
    cursor: pointer;

    &:hover {
      background-color: #c55151;
    }
  }
}

.barrage-input-box {
  display: flex;
  position: relative;
  flex-grow: 1;

  .word-number {
    padding: 0 10px;
    line-height: $barrageInputHeight;
    color: #cccccc;
    font-size: 14px;
    white-space: nowrap;
  }
}

@keyframes barrageHang {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes barrageRoll {
  from {
    transform: translateX(var(--offset));
  }
  to {
    transform: translateX(-100%);
  }
}
