.video-container.pause .barrage-item {
  animation-play-state: paused;
}

.barrage-container {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.barrage-container .barrage-list {
  position: relative;
  width: 100%;
  height: 100%;
}
.barrage-container .barrage-item {
  position: absolute;
  top: var(--top);
  font-weight: var(--font-weight);
  white-space: pre;
  opacity: var(--opacity);
  font-size: var(--font-size);
  font-family: var(--font-family);
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000;
  color: var(--color);
  animation: barrageRoll var(--duration) linear forwards;
}
.barrage-container .barrage-item.me {
  border: 1px solid #d3cfcf;
  padding: 0 5px;
}
.barrage-container .barrage-item.top {
  top: 0px;
  bottom: unset;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  animation: barrageHang var(--duration);
}
.barrage-container .barrage-item.bottom {
  bottom: 0px;
  top: unset;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  animation: barrageHang var(--duration);
}

.barrage-control {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.barrage-control .control-btn-icon {
  margin-right: 4px;
}

.open-close-icon.close-barrage .close-barrage-icon {
  display: block;
}
.open-close-icon.close-barrage .open-barrage-icon {
  display: none;
}
.open-close-icon .close-barrage-icon {
  display: none;
}
.open-close-icon .open-barrage-icon {
  display: block;
}
.open-close-icon .open-barrage-icon svg {
  fill: #f03f3f;
}

.barrage-send-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.barrage-send-container.exceed-limit .word-number {
  color: #dc4b4b;
}
.barrage-send-container.exceed-limit .send-btn {
  background-color: #b8b8b8;
}
.barrage-send-container .barrage-input-tools {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #8f8f8f8c;
}
.barrage-send-container #barrage-input {
  width: 100%;
  height: 34px;
  border: 0;
  padding: 0 14px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
}
.barrage-send-container #barrage-input::placeholder {
  color: #c4c4c4;
}
.barrage-send-container .send-btn {
  width: 60px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  white-space: nowrap;
  background-color: #d55858;
  cursor: pointer;
}
.barrage-send-container .send-btn:hover {
  background-color: #c55151;
}

.barrage-input-box {
  display: flex;
  position: relative;
  flex-grow: 1;
}
.barrage-input-box .word-number {
  padding: 0 10px;
  line-height: 34px;
  color: #cccccc;
  font-size: 14px;
  white-space: nowrap;
}

@keyframes barrageHang {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes barrageRoll {
  from {
    transform: translateX(var(--offset));
  }
  to {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=index.css.map */
