:root {
  --bg-width: 288px;
  --bird-x-offset: 70px;
}

body {
  background: #000;
}

.flappy-bird-container {
  position: relative;
  width: calc(var(--bg-width) * 3);
  height: 512px;
  margin: 100px auto;
  background-image: url("../images/bg_day.png");
  animation: bgMove 10s linear infinite;
  overflow: hidden;
}

.not-initial {
  display: none;
}

@keyframes bgMove {
  0% {
    background-position-x: var(--bg-width);
  }
  100% {
    background-position-x: calc(var(--bg-width) * -4);
  }
}
.land {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 112px;
  background: url("../images/land.png") center;
  animation: bgMove 10s linear infinite;
}

.pipe-list {
  position: relative;
  width: 100%;
  height: 400px;
}

.pipe-group {
  position: absolute;
  top: 0;
  width: 52px;
  height: 512px;
  transform: translateX(calc(var(--bg-width) * 4));
  animation: pipeMove 10s linear infinite;
}
.pipe-group .model-pipe-group {
  transform: translateX(0px);
}

.pipe {
  position: absolute;
  width: 52px;
  height: 400px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.pipe-top {
  top: -400px;
  background-image: url("../images/pipe_top.png");
  background-position-y: 100%;
}

.pipe-bottom {
  bottom: -288px;
  background-image: url("../images/pipe_down.png");
  background-position-y: 0%;
}

@keyframes pipeMove {
  100% {
    transform: translateX(calc(-1 * var(--bg-width)));
  }
}
.bird {
  position: absolute;
  top: 0;
  left: var(--bird-x-offset);
  transform: translateY(180px);
  width: 38px;
  height: 28px;
  background: url("../images/bird0_0.png") no-repeat center;
  animation: flying_0 500ms steps(4) infinite, birdStart 2s cubic-bezier(0.54, 0.19, 0.5, 0.83) infinite;
}

.wing-animation {
  animation: flying_0 500ms steps(4) infinite;
}

@keyframes flying_0 {
  25% {
    background-image: url("../images/bird0_1.png");
  }
  50% {
    background-image: url("../images/bird0_2.png");
  }
  75% {
    background-image: url("../images/bird0_1.png");
  }
}
@keyframes flying_1 {
  25% {
    background-image: url("../images/bird1_1.png");
  }
  50% {
    background-image: url("../images/bird1_2.png");
  }
  75% {
    background-image: url("../images/bird1_1.png");
  }
}
@keyframes flying_2 {
  25% {
    background-image: url("../images/bird2_1.png");
  }
  50% {
    background-image: url("../images/bird2_2.png");
  }
  75% {
    background-image: url("../images/bird2_1.png");
  }
}
@keyframes birdStart {
  50% {
    transform: translateY(280px);
  }
}
.img-list {
  position: absolute;
  inset: 0;
}
.img-list img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-list img.middle-img {
  top: 50%;
}
.img-list img.top-img {
  top: 35%;
}
.img-list img.bottom-img {
  top: 55%;
  animation: scaleTransform 600ms linear infinite;
}

@keyframes scaleTransform {
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.score-panel-container {
  position: absolute;
  inset: 0;
}

.score-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.score-panel .score-count, .score-panel .previous-score-count {
  position: absolute;
  display: flex;
  right: 27px;
}
.score-panel .score-count {
  top: 35px;
}
.score-panel .previous-score-count {
  top: 77px;
}
.score-panel .scoreMedal {
  position: absolute;
  top: 45px;
  left: 31px;
}

.score-image-list {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
}
.score-image-list img {
  width: 30px;
}

.pause, .pause .pipe-group, .pause img, .pause .land, .pause .bird {
  animation-play-state: paused;
}

.not-play .score-image-list {
  display: none;
}
.not-play .pipe-group {
  animation-play-state: paused;
}

.enter-game {
  opacity: 0;
  transition: opacity 2s;
}

/*# sourceMappingURL=index.css.map */
