// 功能描述: 
// 创建时间: 2023年 12月 26日
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: 0;
  outline: none;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  user-select: none;
  background-color: #000000;
}

.video-instance-box {
  width: 100%;
  height: 100%;
}

.video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

.video-controls {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  width: 100%;
  height: 65px;
  background: -webkit-linear-gradient(top, #ffffff00, #000000db);

  .top-controls {
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .bottom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;

    .center-controls {
      display: flex;
      max-width: 600px;
      width: 100%;
    }
  }
}

/* 控件按钮 */
.control {
  font-size: 14px;
  color: #fff;

  .control-btn-icon {
    border-radius: 6px;
    padding: 6px;
  }

  .control-btn-icon:hover {
    background-color: #89898978;
  }
}

.left-controls,
.right-controls {
  display: flex;
  align-items: center;

  > div:nth-child(n + 2) {
    margin-left: 10px;
  }
}

svg {
  width: 24px;
  height: 24px;
  fill: #eee;
  vertical-align: -3px;
}

.hidden {
  display: none!important;
}

.show {
  display: block!important;
}

.hidden-cursor {
  cursor: none;
}

.interface-board {
  display: none;
  position: absolute;
  background-color: #464646d6;
  border-radius: 6px;

  &.tip-board {
    padding: 4px 8px;
    white-space: nowrap;
  }
}
