// 功能描述: 
// 创建时间: 2023年 12月 28日

body:has(.web-screen) {
  overflow: hidden;
}

.video-container {
  &.web-screen {
    position: fixed;
    inset: 0;

    .video-box {
      width: 100%;
    }

    .enter-web-screen-icon {
      display: none;
    }

    .exit-web-screen-icon {
      display: block;
    }
  }
}

.web-screen-container {
  position: relative;

  .enter-web-screen-icon {
    display: block;
  }

  .exit-web-screen-icon {
    display: none;
  }

  .web-screen-tip-board {
    bottom: 50px;
    left: -35px;
  }
}